


{% extends 'main.html' %}
{% load static %}
{% block content %}

<h1>Events and Devotions</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="alert">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="">
    <!-- Events Section -->
    <h3>All Events</h3>
    <a class="button-primary" href="{% url 'create_event' %}">Add A New Event</a>
    <table class="books-table-container">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Date</th>
                <th>Description</th>
                <th class="table-responsive">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>
                    {% if event.image_url %}
                    <img src="{{ event.event_thumbnail }}" alt="{{ event.title }}" class="table-image">
                    {% else %}
                    <img src="{% static 'images/default.png' %}" alt="No Image" class="table-image">
                    {% endif %}
                </td>
                <td>{{ event.title }}</td>
                <td>{{ event.date|date:"F j, Y" }}</td>
                <td>{{ event.description }}</td>
                <td class="table-actions">
                    <a href="{% url 'edit_event' event.id %}" class="edit-button">Edit</a>
                    <a href="{% url 'delete_event' event.id %}" class="delete-button">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Devotions Section -->
    <h3>All Devotions</h3>
    <a class="button-preacher" href="{% url 'create_devotional' %}">Add A New Devotion</a>
    <table class="books-table-container">
        <thead>
            <tr>
                <th>Thumbnail</th>
                <th>Title</th>
                <th>Theme Scripture</th>
                <th class="table-responsive">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for devotion in devotionals %}
            <tr>
                <td>
                    {% if devotion.devotion_thumbnail_url %}
                    <img src="{{ devotion.devotion_thumbnail_url }}" alt="{{ devotion.title }}" class="table-image">
                    {% else %}
                    <img src="{% static 'images/default.png' %}" alt="No Thumbnail" class="table-image">
                    {% endif %}
                </td>
                <td>{{ devotion.title }}</td>
                <td>{{ devotion.theme_scripture }}</td>
                <td class="table-actions">
                    <a href="{% url 'edit_devotional' devotion.id %}" class="edit-button">Edit</a>
                    <a href="{% url 'delete_devotional' devotion.id %}" class="delete-button">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
